<ul>
  <%% if <%= "previous_#{step_alias}" %>.present? %>
    <li><%%= link_to "Previous <%= step_alias %>", edit_previous_<%= step_alias %>_path %></li>
  <%% end %>
  <li><%%= f.submit <%= "next_#{step_alias}" %>.present? ? "next" : "finish" %></li>
</ul>
